.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  margin: 0;
  grid-area: title;
}

@media (max-width: 880px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}
