.photo-grid {
  display: grid;
  grid-template: repeat(3, auto) / repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    gap: 16px;
  }
}

@media (max-width: 450px) {
  .photo-grid {
    gap: 12px;
  }
}
