.img-cover__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  color: var(--color-content-primary);
  text-align: center;
  max-width: 360px;
  margin: 0;
}

@media (max-width: 650px) {
  .img-cover__subtitle {
    font-size: calc(
      14px + 40 *
        (
          (100vw - var(--min-screen-width)) /
            (var(--max-screen) - var(--min-screen))
        )
    );
    line-height: 1.14;
  }
}
