.content {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 92px;
}

@media (max-width: 768px) {
  .content {
    gap: 88px;
  }
}

@media (max-width: 650px) {
  .content {
    gap: 64px;
  }
}
