.cover__wrap-link {
  position: relative;
  display: block;
  min-height: 740px;
  display: flex;
  flex-flow: column;

  color: #fff;
  text-decoration: none;
  background: url(../../../images/footer_cover.jpg) center no-repeat;
  background-size: contain;
  z-index: 0;
}

.cover__wrap-link::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;
  background-color: var(--color-image-hover-off);
  transition: background-color var(--trans-short) ease-out;
  z-index: -1;
}

.cover__wrap-link:hover::before {
  background-color: var(--color-image-hover-on);
}

@media (max-width: 1024px) {
  .cover__wrap-link {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__wrap-link {
    min-height: 480px;
  }
}

@media (max-width: 320px) {
  .cover__wrap-link {
    min-height: 200px;
  }
}
