.lead__img-description {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  align-self: flex-start;
  margin: 0;
  margin-left: var(--margin-side);
  margin-top: 8px;
}
