:root {
  --color-background-default: #2a2c2f;
  --color-content-primary: #fff;
  --color-content-secondary: #aaa;
  --color-image-hover-on: rgba(42 44 47 / 0.8);
  --color-image-hover-off: rgba(42 44 47 / 0.3);

  --trans-short: 0.2s;

  --margin-side: 48px;

  --min-screen-width: 320px;

  /* for adaptive font size ratio */
  --min-screen: 320;
  --max-screen: 1280;
}
