@import url(../vendor/normalize.css);
@import url(../vendor/fonsts.css);
@import url(../pages/global-variables.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__content/page__content.css);
@import url(../blocks/page/__section/page__section.css);
@import url(../blocks/page/__section/_size/page__section_size_l.css);
@import url(../blocks/page/__section/_size/page__section_size_m.css);

@import url(../blocks/content/content.css);
@import url(../blocks/content/__lead/content__lead.css);
@import url(../blocks/content/__intro/content__intro.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);

@import url(../blocks/site-logo/site-logo.css);

@import url(../blocks/link-hover/link-hover.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__langs/header__langs.css);
@import url(../blocks/header/__lang-btn/header__lang-btn.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__lead__title/lead__title.css);
@import url(../blocks/lead/__lead__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__cover-wrap/lead__cover-wrap.css);
@import url(../blocks/lead/__cover-img/lead__cover-img.css);
@import url(../blocks/lead/__img-description/lead__img-description.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__description/intro__description.css);
@import url(../blocks/intro/__stat/intro__stat.css);
@import url(../blocks/intro/__stat-item/intro__stat-item.css);
@import url(../blocks/intro/__bold/intro__bold.css);

@import url(../blocks/cover/cover.css);

@import url(../blocks/img-cover/img-cover.css);
@import url(../blocks/img-cover/__overlay/img-cover__overlay.css);
@import url(../blocks/img-cover/__overlay/_centered/img-cover__overlay_centered.css);
@import url(../blocks/img-cover/__title/img-cover__title.css);
@import url(../blocks/img-cover/__subtitle/img-cover__subtitle.css);
@import url(../blocks/img-cover/__image/img-cover__image.css);

@import url(../blocks/places/places.css);

@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__url/place__url.css);
@import url(../blocks/place/__url-title/place__url-title.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__description/place__description.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__img/place__img.css);
@import url(../blocks/place/__side-margin/place__side-margin.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
