@import url(../vendor/normalize.css);
@import url(../vendor/fonsts.css);
@import url(../pages/global-variables.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__content/page__content.css);

@import url(../blocks/content/content.css);
@import url(../blocks/content/__photo-grid/content__photo-grid.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);