.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  color: var(--color-content-primary);
  text-align: center;
  max-width: 560px;
  margin: 0;
  margin-bottom: 32px;
}

@media (max-width: 650px) {
  .cover__title {
    font-size: calc(
      32px + 115 *
        (
          (100vw - var(--min-screen-width)) /
            (var(--max-screen) - var(--min-screen))
        )
    );
    margin-bottom: 16px;
    line-height: 1.09;
  }
}
