.header__lang-btn {
  background-color: transparent;
  color: var(--content-primary);
  border: none;
  padding: 0;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.17;
}

@media (max-width: 550px) {
  .header__lang-btn {
    font-size: 18px;
    line-height: 1.11;
  }
}
